* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333366;
    height: max-content;
}

div.button-container {
    display: flex;
    justify-content: flex-end;
    top: 0;
    position: sticky;
    z-index: 2;
    margin: 1em;
}
.card-img-top {
    max-width: 100%;
    height: auto;
}
